@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/*import POPPINS font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
body{
    color: #7f7f7f;
    background-color: #1a1919;
    margin: 0;
    padding: 0;
}
.artwork{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 400;
    color: #ccae7e;
    text-align: left;
    margin: 0;
    padding: 1rem;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #7f7f7f;
    text-align: left;
    margin: 0;
    padding: 0rem 1.5rem 2rem 1.5rem;
    letter-spacing: 0.2rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #7f7f7f;
    text-align: left;
    margin: 0;
    padding: 0rem 1.5rem 2rem 5.5rem;
    width: 60%;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}

svg{
    position: absolute;
    z-index: -2;

}
.bg-letter{
    stroke: #ccae7e22;
    fill: none;
    stroke-width: 5;
    font-size: 70rem;
    dominant-baseline: middle;
    text-anchor: middle;
    animation: bg-letter 2s ease-in-out;
}
.bg-name{
    font-size: 20rem;
    stroke: none;
    stroke-width: 0;
    fill:#7f7f7f11;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 540px;
    height: 540px;
    z-index: -1;
    transform: translate(15%, 25%);
    animation: bg-img 2s ease-in-out;
    border-radius: 12px;
    border: #ccae7e44 2px solid;   
}
.page-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(26,25,25,1) 0%, rgba(26,25,25,0) 100%);
    z-index: -1;
    opacity: 1;
}

@keyframes bg-letter{
    0%{
        stroke-dasharray: 0 1000;
    }
    100%{
        stroke-dasharray: 1000 0;
    }
}
@keyframes bg-img{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.hide{
    opacity: 0;
    transition: all 1s ease-in-out;
}
.reveal{
    opacity: 1;
    transition: all 1s ease-in-out;
}

.enter-button{
    position: absolute;
    bottom: 10%;
    right:5%;
    width: 10%;
    height: 7%;
    margin:0;
    padding: 0;
    z-index: 3;
    cursor: pointer;
    background-color: transparent;
    border-radius: 28px;
    border: #ccae7e44 2px solid;
    /*align text vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.enter-button a{
    text-decoration: none;
    color: #ccae7eaa;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.enter-button:hover{
    border: #ccae7eaa 2px solid;
    transition: all 0.5s ease-in-out;
}

.controls{
    position: absolute;
    bottom: 10%;
    right:5%;
    width: 10%;
    height: 7%;
    margin:0;
    padding: 0;
    z-index: 3;
    background-color: transparent;
    /*align text vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.control-btn{
    color: #ccae7eaa;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 50%;
}
.controls svg{
    background-color: #44e;
}